<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airplane_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{80,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,63}}</string>
                <key>sourceSize</key>
                <string>{80,63}</string>
            </dict>
            <key>airplane_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,109}}</string>
                <key>sourceSize</key>
                <string>{148,109}</string>
            </dict>
            <key>airplane_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,84},{1,1}}</string>
                <key>offset</key>
                <string>{-9.5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>airplane_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,84},{1,1}}</string>
                <key>offset</key>
                <string>{-13,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>airplane_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,84},{1,1}}</string>
                <key>offset</key>
                <string>{-12.5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>airplane0.png</string>
            <key>size</key>
            <string>{217,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a0db29246f179d5207f901df138873d:1/1$</string>
            <key>textureFileName</key>
            <string>airplane0.png</string>
        </dict>
    </dict>
</plist>
