<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>golder_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,352},{148,141}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,106},{148,141}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
            <key>golder_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,185},{148,183}}</string>
                <key>offset</key>
                <string>{-20,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,64},{148,183}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
            <key>golder_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{148,181}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,66},{148,181}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
            <key>golder_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,199},{148,189}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,58},{148,189}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
            <key>golder_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,199},{148,187}}</string>
                <key>offset</key>
                <string>{-20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,60},{148,187}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
            <key>golder_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{150,181}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{150,181}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
            <key>golder_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,185},{152,165}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{152,165}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
            <key>golder_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{224,223}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,54},{224,223}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
            <key>golder_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,237},{230,231}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,50},{230,231}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
            <key>golder_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{230,231}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,50},{230,231}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
            <key>golder_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,233}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,49},{232,233}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
            <key>golder_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{192,195}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,68},{192,195}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
            <key>golder_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,390},{112,101}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,146},{112,101}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
            <key>golder_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,390},{112,105}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,142},{112,105}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
            <key>golder_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,388},{110,115}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,132},{110,115}}</string>
                <key>sourceSize</key>
                <string>{350,337}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>golder0.png</string>
            <key>size</key>
            <string>{1070,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fd7f1c064346d12ba4b9e489f9a0464:1/1$</string>
            <key>textureFileName</key>
            <string>golder0.png</string>
        </dict>
    </dict>
</plist>
