<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiqirena_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{110,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,56}}</string>
                <key>sourceSize</key>
                <string>{110,56}</string>
            </dict>
            <key>jiqirena_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{108,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,56}}</string>
                <key>sourceSize</key>
                <string>{108,56}</string>
            </dict>
            <key>jiqirena_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,104},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>jiqirena_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiqirena_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,224},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>jiqirena_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,100}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiqirena_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,165},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>jiqirena_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,283},{64,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,44}}</string>
                <key>sourceSize</key>
                <string>{64,44}</string>
            </dict>
            <key>jiqirena_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,349},{65,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,42}}</string>
                <key>sourceSize</key>
                <string>{65,42}</string>
            </dict>
            <key>jiqirena_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiqiren0.png</string>
            <key>size</key>
            <string>{119,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21e38531471cc2ed015b4044b194358a:1/1$</string>
            <key>textureFileName</key>
            <string>jiqiren0.png</string>
        </dict>
    </dict>
</plist>
