<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_enemy_type_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>anim_enemy_type_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{70,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,57}</string>
            </dict>
            <key>anim_enemy_type_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{77,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,50}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>anim_enemy_type_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,45}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_enemy_type_2.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c60c35a43d5c2fca51b7b330e6aeb01f$</string>
            <key>textureFileName</key>
            <string>anim_enemy_type_2.png</string>
        </dict>
    </dict>
</plist>
