<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>boss/boss1.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,201},{84,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,110}</string>
			</dict>
			<key>boss/boss10.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,359},{64,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,69}</string>
			</dict>
			<key>boss/boss11.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,692},{75,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,56}</string>
			</dict>
			<key>boss/boss12.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,414},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>boss/boss13.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,570},{62,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,50}</string>
			</dict>
			<key>boss/boss15.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,757},{56,67}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,69}</string>
			</dict>
			<key>boss/boss16.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1002},{70,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,48}</string>
			</dict>
			<key>boss/boss17.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,991},{58,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,68}</string>
			</dict>
			<key>boss/boss18.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,724},{45,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,19}</string>
			</dict>
			<key>boss/boss19.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,412},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>
			<key>boss/boss2.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,819},{166,172}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,177}</string>
			</dict>
			<key>boss/boss20.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,353},{47,49}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,50}</string>
			</dict>
			<key>boss/boss21.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,577},{27,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,37}</string>
			</dict>
			<key>boss/boss22.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,509},{27,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,37}</string>
			</dict>
			<key>boss/boss23.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,249},{46,52}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,54}</string>
			</dict>
			<key>boss/boss25.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,141},{14,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,41}</string>
			</dict>
			<key>boss/boss27.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,220},{14,31}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,31}</string>
			</dict>
			<key>boss/boss3.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,353},{99,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,122}</string>
			</dict>
			<key>boss/boss4.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,293},{66,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,84}</string>
			</dict>
			<key>boss/boss5.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,218},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
			<key>boss/boss6.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,287},{66,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,100}</string>
			</dict>
			<key>boss/boss7.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,199},{64,88}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,91}</string>
			</dict>
			<key>boss/boss8.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,364},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>boss/boss9.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,749},{102,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,69}</string>
			</dict>
			<key>boss/d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,509},{55,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,65}</string>
			</dict>
			<key>boss/d10.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1007},{123,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,31}</string>
			</dict>
			<key>boss/d11.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,541},{27,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,41}</string>
			</dict>
			<key>boss/d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,570},{48,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,62}</string>
			</dict>
			<key>boss/d3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,435},{54,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,64}</string>
			</dict>
			<key>boss/d5.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,618},{58,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,74}</string>
			</dict>
			<key>boss/d6.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,767},{52,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,59}</string>
			</dict>
			<key>boss/d7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,570},{216,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,51}</string>
			</dict>
			<key>boss/d8.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,746},{217,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,72}</string>
			</dict>
			<key>boss/d9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1007},{123,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,32}</string>
			</dict>
			<key>boss/mt.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,0},{195,96}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,102}</string>
			</dict>
			<key>boss/sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,423},{52,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,50}</string>
			</dict>
			<key>boss/sz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1038},{52,12}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,15}</string>
			</dict>
			<key>JS/000.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,728},{48,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,18}</string>
			</dict>
			<key>JS/111.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1039},{1,1}}</string>
				<key>offset</key>
				<string>{24,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>JS/js01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>JS/js02.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,320},{46,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,33}</string>
			</dict>
			<key>JS/js03.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,255},{23,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,61}</string>
			</dict>
			<key>JS/js04.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,0},{65,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,100}</string>
			</dict>
			<key>JS/js05.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,810},{24,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,51}</string>
			</dict>
			<key>JS/js06.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,350},{37,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,58}</string>
			</dict>
			<key>JS/js07.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,861},{29,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,40}</string>
			</dict>
			<key>JS/js08.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,137},{28,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,60}</string>
			</dict>
			<key>JS/js09.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,51},{35,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,53}</string>
			</dict>
			<key>JS/js10.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,779},{31,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,38}</string>
			</dict>
			<key>JS/js11.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,687},{23,39}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,39}</string>
			</dict>
			<key>JS/js12.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,519},{39,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,51}</string>
			</dict>
			<key>JS/js13.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,574},{36,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,27}</string>
			</dict>
			<key>JS/js14.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,195},{25,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,65}</string>
			</dict>
			<key>JS/js15.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,364},{32,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,46}</string>
			</dict>
			<key>JS/js16.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,587},{47,27}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,32}</string>
			</dict>
			<key>JS/mz.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,208},{76,79}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>
			<key>JS/tt.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,430},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>
			<key>JS2/kk10.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,320},{45,32}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,32}</string>
			</dict>
			<key>JS2/kk12.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,197},{27,58}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,63}</string>
			</dict>
			<key>JS2/kk13.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,408},{37,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,59}</string>
			</dict>
			<key>JS2/kk14.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,574},{23,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,40}</string>
			</dict>
			<key>JS2/kk15.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,466},{38,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,53}</string>
			</dict>
			<key>JS2/kk16.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,275},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
			<key>JS2/kk17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,285},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>JS2/kk18.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,724},{90,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,98}</string>
			</dict>
			<key>JS2/kk19.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,67},{70,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,25}</string>
			</dict>
			<key>JS2/kk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,100},{64,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,99}</string>
			</dict>
			<key>JS2/kk20.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,733},{27,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,46}</string>
			</dict>
			<key>JS2/kk21.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,0},{28,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,67}</string>
			</dict>
			<key>JS2/kk22.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,252},{121,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,101}</string>
			</dict>
			<key>JS2/kk23.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,541},{30,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,37}</string>
			</dict>
			<key>JS2/kk24.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,316},{30,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,48}</string>
			</dict>
			<key>JS2/kk25.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,687},{36,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,25}</string>
			</dict>
			<key>JS2/kk26.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,498},{48,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,28}</string>
			</dict>
			<key>JS2/kk27.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,969},{71,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,176}</string>
			</dict>
			<key>JS2/kk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,681},{24,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,52}</string>
			</dict>
			<key>JS2/kk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,104},{36,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,50}</string>
			</dict>
			<key>JS2/kk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,260},{60,23}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,23}</string>
			</dict>
			<key>JS2/kk7.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,453},{30,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,45}</string>
			</dict>
			<key>LayerUI/btn_item_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,620},{67,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,92}</string>
			</dict>
			<key>LayerUI/btn_item_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{67,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,92}</string>
			</dict>
			<key>LayerUI/btnOn_item_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,141},{67,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,92}</string>
			</dict>
			<key>LayerUI/btnOn_item_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,141},{67,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,92}</string>
			</dict>
			<key>LayerUI/ui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,623},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,100}</string>
			</dict>
			<key>LayerUI/UI10.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,352},{54,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,49}</string>
			</dict>
			<key>LayerUI/UI11.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,634},{47,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,28}</string>
			</dict>
			<key>LayerUI/ui5.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,450},{88,90}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,100}</string>
			</dict>
			<key>LayerUI/UI7.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,141},{108,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,29}</string>
			</dict>
			<key>sun/Sun1.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,587},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>sun/Sun2.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,141},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>
			<key>sun/Sun3.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,136},{117,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,116}</string>
			</dict>
			<key>ui/0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,141}</string>
			</dict>
			<key>ui/0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,632},{240,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,96}</string>
			</dict>
			<key>ui/0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,353},{82,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,97}</string>
			</dict>
			<key>ui/0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,285},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>ui/0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,251},{16,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,22}</string>
			</dict>
			<key>ui/0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,273},{16,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,22}</string>
			</dict>
			<key>ui/0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,1002},{95,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,46}</string>
			</dict>
			<key>ui/0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,728},{91,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,21}</string>
			</dict>
			<key>ui/0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,154},{38,47}}</string>
				<key>offset</key>
				<string>{1,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,98}</string>
			</dict>
			<key>ui/0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,208},{78,77}}</string>
				<key>offset</key>
				<string>{13,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,98}</string>
			</dict>
			<key>ui/0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,540},{80,88}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,98}</string>
			</dict>
			<key>ui/0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,949},{103,96}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,98}</string>
			</dict>
			<key>ui/0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,359},{113,87}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,98}</string>
			</dict>
			<key>zd/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,570},{51,64}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,71}</string>
			</dict>
			<key>zd/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,208},{67,89}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,97}</string>
			</dict>
			<key>zd/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,623},{101,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,103}</string>
			</dict>
			<key>zd/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,814},{135,131}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,131}</string>
			</dict>
			<key>zd/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,0},{136,125}}</string>
				<key>offset</key>
				<string>{5,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,138}</string>
			</dict>
			<key>zd/h0.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,818},{142,151}}</string>
				<key>offset</key>
				<string>{9,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,218}</string>
			</dict>
			<key>zd/h1.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,452},{166,171}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,218}</string>
			</dict>
			<key>zd/h2.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,820},{180,182}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,218}</string>
			</dict>
			<key>zd/h3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,820},{185,187}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,218}</string>
			</dict>
			<key>zd/h4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,632},{187,188}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,218}</string>
			</dict>
			<key>zd/h5.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,621},{186,164}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,218}</string>
			</dict>
			<key>zd/h6.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,818},{188,151}}</string>
				<key>offset</key>
				<string>{2,20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,218}</string>
			</dict>
			<key>zw/zw011.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,546},{41,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,32}</string>
			</dict>
			<key>zw/zw012.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,587},{41,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,32}</string>
			</dict>
			<key>zw/zw013.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,733},{91,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,79}</string>
			</dict>
			<key>zw/zw1.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,284},{80,72}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,72}</string>
			</dict>
			<key>zw/zw10.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,969},{76,151}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,151}</string>
			</dict>
			<key>zw/zw2.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,969},{41,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,22}</string>
			</dict>
			<key>zw/zw3.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,541},{28,36}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,39}</string>
			</dict>
			<key>zw/zw4.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,359},{55,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,54}</string>
			</dict>
			<key>zw/zw5.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,991},{26,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,48}</string>
			</dict>
			<key>zw/zw6.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,402},{40,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,28}</string>
			</dict>
			<key>zw/zw7.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,0},{38,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,51}</string>
			</dict>
			<key>zw/zw8.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,901},{30,38}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,42}</string>
			</dict>
			<key>zw/zw9.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,410},{43,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,34}</string>
			</dict>
			<key>zzbc/kk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,0},{89,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,191}</string>
			</dict>
			<key>zzbc/zb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,406},{40,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,24}</string>
			</dict>
			<key>zzbc/zb10.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,446},{67,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,95}</string>
			</dict>
			<key>zzbc/zb11.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,191},{91,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,168}</string>
			</dict>
			<key>zzbc/zb12.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,350},{64,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,83}</string>
			</dict>
			<key>zzbc/zb13.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,182},{38,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,14}</string>
			</dict>
			<key>zzbc/zb14.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,301},{49,44}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,44}</string>
			</dict>
			<key>zzbc/zb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,431},{67,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>zzbc/zb20.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,1038},{12,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,27}</string>
			</dict>
			<key>zzbc/zb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,285},{31,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,45}</string>
			</dict>
			<key>zzbc/zb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,489},{52,57}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>zzbc/zb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,724},{41,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,20}</string>
			</dict>
			<key>zzbc/zb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,991},{59,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,67}</string>
			</dict>
			<key>BOSS.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,141},{308,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,53}</string>
			</dict>
			<key>boss2.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,449},{308,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,53}</string>
			</dict>
			<key>boss3.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{632,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{632,96}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,1050}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1050</integer>
		</dict>
	</dict>
</plist>