<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CharMap_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{168,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,22}}</string>
                <key>sourceSize</key>
                <string>{170,22}</string>
            </dict>
            <key>CharMap_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{150,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,20}}</string>
                <key>sourceSize</key>
                <string>{150,20}</string>
            </dict>
            <key>CharMap_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{158,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,22}}</string>
                <key>sourceSize</key>
                <string>{160,22}</string>
            </dict>
            <key>anim_broken_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,274},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{45,42}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>anim_broken_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,318},{41,42}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,31},{41,42}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>anim_broken_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,228},{45,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{45,44}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>anim_broken_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,178},{51,48}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{51,48}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>anim_broken_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{69,62}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{69,62}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>anim_broken_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{83,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{83,70}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>anim_broken_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,24},{89,76}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{89,76}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,68},{75,8}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{75,8}}</string>
                <key>sourceSize</key>
                <string>{79,20}</string>
            </dict>
            <key>bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{79,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,20}}</string>
                <key>sourceSize</key>
                <string>{79,20}</string>
            </dict>
            <key>bar_boss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{161,14}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{161,14}}</string>
                <key>sourceSize</key>
                <string>{171,40}</string>
            </dict>
            <key>bar_boss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{161,14}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{161,14}}</string>
                <key>sourceSize</key>
                <string>{171,40}</string>
            </dict>
            <key>bar_boss_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{161,14}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{161,14}}</string>
                <key>sourceSize</key>
                <string>{171,40}</string>
            </dict>
            <key>bar_boss_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{161,14}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{161,14}}</string>
                <key>sourceSize</key>
                <string>{171,40}</string>
            </dict>
            <key>bar_boss_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,40}}</string>
                <key>sourceSize</key>
                <string>{171,40}</string>
            </dict>
            <key>pea.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,115},{26,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>plant_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,145},{88,90}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{88,90}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>plant_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,235},{90,84}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{90,84}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>plant_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{86,96}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{86,96}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>plant_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{80,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SthAboutGameScene.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:572ef60fb9ab1bd33fe3223e1570736f$</string>
            <key>textureFileName</key>
            <string>SthAboutGameScene.png</string>
        </dict>
    </dict>
</plist>
