<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Enemy/Monster_boss/Monster_boss_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,457},{106,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,116}</string>
			</dict>
			<key>Enemy/Monster_boss/Monster_boss_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,546},{93,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,60}</string>
			</dict>
			<key>Enemy/Monster_boss/Monster_boss_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,382},{39,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,27}</string>
			</dict>
			<key>Enemy/Monster_boss_2/Monster_boss_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,573},{106,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,116}</string>
			</dict>
			<key>Enemy/Monster_boss_2/Monster_boss_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,639},{93,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,60}</string>
			</dict>
			<key>Enemy/Monster_boss_2/Monster_boss_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,421},{39,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,27}</string>
			</dict>
			<key>Enemy/Monster_boss_3/Monster_boss_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,870},{106,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,116}</string>
			</dict>
			<key>Enemy/Monster_boss_3/Monster_boss_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,732},{93,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,60}</string>
			</dict>
			<key>Enemy/Monster_boss_3/Monster_boss_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,991},{39,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,27}</string>
			</dict>
			<key>Enemy/Monster_boss2/Monster_boss2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,591},{93,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,60}</string>
			</dict>
			<key>Enemy/Monster_boss2/Monster_boss2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,681},{64,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,52}</string>
			</dict>
			<key>Enemy/Monster_boss2/Monster_boss2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,444},{125,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,116}</string>
			</dict>
			<key>Enemy/Monster_boss2/Monster_boss2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,232},{27,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,19}</string>
			</dict>
			<key>Enemy/Monster_boss2_2/Monster_boss2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,684},{93,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,60}</string>
			</dict>
			<key>Enemy/Monster_boss2_2/Monster_boss2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,745},{64,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,52}</string>
			</dict>
			<key>Enemy/Monster_boss2_2/Monster_boss2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,565},{125,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,116}</string>
			</dict>
			<key>Enemy/Monster_boss2_2/Monster_boss2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,259},{27,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,19}</string>
			</dict>
			<key>Enemy/Monster_boss2_3/Monster_boss2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,777},{93,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,60}</string>
			</dict>
			<key>Enemy/Monster_boss2_3/Monster_boss2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,825},{64,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,52}</string>
			</dict>
			<key>Enemy/Monster_boss2_3/Monster_boss2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,475},{125,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,116}</string>
			</dict>
			<key>Enemy/Monster_boss2_3/Monster_boss2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,286},{27,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,19}</string>
			</dict>
			<key>Enemy/Monster_boss3/Monster_boss3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,315},{133,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,129}</string>
			</dict>
			<key>Enemy/Monster_boss3/Monster_boss3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,577},{104,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,49}</string>
			</dict>
			<key>Enemy/Monster_boss3/Monster_boss3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,513},{64,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,41}</string>
			</dict>
			<key>Enemy/Monster_boss3_2/Monster_boss3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,315},{133,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,129}</string>
			</dict>
			<key>Enemy/Monster_boss3_2/Monster_boss3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,475},{104,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,49}</string>
			</dict>
			<key>Enemy/Monster_boss3_2/Monster_boss3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,578},{64,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,41}</string>
			</dict>
			<key>Enemy/Monster_boss3_3/Monster_boss3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,436},{133,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,129}</string>
			</dict>
			<key>Enemy/Monster_boss3_3/Monster_boss3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,579},{104,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,49}</string>
			</dict>
			<key>Enemy/Monster_boss3_3/Monster_boss3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,642},{64,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,41}</string>
			</dict>
			<key>Enemy/Monster_Convoy/Monster_Convoy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,933},{66,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,64}</string>
			</dict>
			<key>Enemy/Monster_Convoy/Monster_Convoy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,606},{50,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,31}</string>
			</dict>
			<key>Enemy/Monster_Convoy/Monster_Convoy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,382},{22,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,15}</string>
			</dict>
			<key>Enemy/Monster_Convoy_2/Monster_Convoy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,715},{66,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,64}</string>
			</dict>
			<key>Enemy/Monster_Convoy_2/Monster_Convoy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,656},{50,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,31}</string>
			</dict>
			<key>Enemy/Monster_Convoy_2/Monster_Convoy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,404},{22,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,15}</string>
			</dict>
			<key>Enemy/Monster_Convoy_3/Monster_Convoy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,740},{66,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,64}</string>
			</dict>
			<key>Enemy/Monster_Convoy_3/Monster_Convoy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,815},{50,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,31}</string>
			</dict>
			<key>Enemy/Monster_Convoy_3/Monster_Convoy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,426},{22,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,15}</string>
			</dict>
			<key>Enemy/Monster_ghost/Monster_ghost_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,232},{79,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,77}</string>
			</dict>
			<key>Enemy/Monster_ghost/Monster_ghost_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,313},{23,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,15}</string>
			</dict>
			<key>Enemy/Monster_ghost/Monster_ghost_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,937},{47,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,37}</string>
			</dict>
			<key>Enemy/Monster_ghost_2/Monster_ghost_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,309},{79,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,77}</string>
			</dict>
			<key>Enemy/Monster_ghost_2/Monster_ghost_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,336},{23,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,15}</string>
			</dict>
			<key>Enemy/Monster_ghost_2/Monster_ghost_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,974},{47,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,37}</string>
			</dict>
			<key>Enemy/Monster_ghost_3/Monster_ghost_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,386},{79,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,77}</string>
			</dict>
			<key>Enemy/Monster_ghost_3/Monster_ghost_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,359},{23,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,15}</string>
			</dict>
			<key>Enemy/Monster_ghost_3/Monster_ghost_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,984},{47,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,37}</string>
			</dict>
			<key>Enemy/Monster_panda/Monster_panda_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,573},{73,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,71}</string>
			</dict>
			<key>Enemy/Monster_panda/Monster_panda_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,812},{52,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,37}</string>
			</dict>
			<key>Enemy/Monster_panda/Monster_panda_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,448},{22,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,15}</string>
			</dict>
			<key>Enemy/Monster_panda_2/Monster_panda_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,633},{73,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,71}</string>
			</dict>
			<key>Enemy/Monster_panda_2/Monster_panda_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,986},{52,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,37}</string>
			</dict>
			<key>Enemy/Monster_panda_2/Monster_panda_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,547},{22,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,15}</string>
			</dict>
			<key>Enemy/Monster_panda_3/Monster_panda_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,644},{73,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,71}</string>
			</dict>
			<key>Enemy/Monster_panda_3/Monster_panda_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,986},{52,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,37}</string>
			</dict>
			<key>Enemy/Monster_panda_3/Monster_panda_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,569},{22,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,15}</string>
			</dict>
			<key>Tower/Hero_die/Hero_die_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,470},{54,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,32}</string>
			</dict>
			<key>Tower/Hero_die/Hero_die_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,501},{45,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,48}</string>
			</dict>
			<key>Tower/Hero_die/Hero_die_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,991},{39,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,31}</string>
			</dict>
			<key>Tower/Hero_die/Hero_die_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,683},{45,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,46}</string>
			</dict>
			<key>Tower/Hero_die/Hero_die_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,884},{55,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,49}</string>
			</dict>
			<key>Tower/Hero_die/Hero_die_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,300},{41,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,27}</string>
			</dict>
			<key>Tower/Hero_die/Hero_die_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,937},{80,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,68}</string>
			</dict>
			<key>Tower/Hero_fire/Hero_fire_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,706},{59,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,40}</string>
			</dict>
			<key>Tower/Hero_fire/Hero_fire_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,765},{43,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,57}</string>
			</dict>
			<key>Tower/Hero_fire/Hero_fire_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,770},{42,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,48}</string>
			</dict>
			<key>Tower/Hero_fire/Hero_fire_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,909},{46,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>Tower/Hero_fire/Hero_fire_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,341},{41,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,27}</string>
			</dict>
			<key>Tower/Hero_fire/Hero_fire_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,704},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>Tower/Hero_flash/Hero_flash_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,436},{77,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,42}</string>
			</dict>
			<key>Tower/Hero_flash/Hero_flash_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,991},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,26}</string>
			</dict>
			<key>Tower/Hero_flash/Hero_flash_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,460},{59,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,29}</string>
			</dict>
			<key>Tower/Hero_flash/Hero_flash_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,977},{39,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,46}</string>
			</dict>
			<key>Tower/Hero_flash/Hero_flash_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,546},{51,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,41}</string>
			</dict>
			<key>Tower/Hero_flash/Hero_flash_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,501},{42,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,39}</string>
			</dict>
			<key>Tower/Hero_flash/Hero_flash_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,991},{26,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,22}</string>
			</dict>
			<key>Tower/Hero_flash/Hero_flash_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,902},{48,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,39}</string>
			</dict>
			<key>Tower/Hero_flash/Hero_flash_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,991},{37,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,27}</string>
			</dict>
			<key>Tower/Hero_flash/Hero_flash_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,501},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,72}</string>
			</dict>
			<key>Tower/Hero_flash/Hero_flash_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,991},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>Tower/Hero_Gas/Hero_Gas_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,706},{59,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,34}</string>
			</dict>
			<key>Tower/Hero_Gas/Hero_Gas_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,950},{40,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,47}</string>
			</dict>
			<key>Tower/Hero_Gas/Hero_Gas_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,597},{39,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,36}</string>
			</dict>
			<key>Tower/Hero_Gas/Hero_Gas_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,977},{42,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,34}</string>
			</dict>
			<key>Tower/Hero_Gas/Hero_Gas_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,519},{47,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,30}</string>
			</dict>
			<key>Tower/Hero_Gas/Hero_Gas_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,728},{49,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,42}</string>
			</dict>
			<key>Tower/Hero_Gas/Hero_Gas_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,83},{88,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,77}</string>
			</dict>
			<key>Tower/Hero_ice/Hero_ice_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,822},{55,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,42}</string>
			</dict>
			<key>Tower/Hero_ice/Hero_ice_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,765},{33,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,50}</string>
			</dict>
			<key>Tower/Hero_ice/Hero_ice_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,578},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,37}</string>
			</dict>
			<key>Tower/Hero_ice/Hero_ice_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,941},{47,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,39}</string>
			</dict>
			<key>Tower/Hero_ice/Hero_ice_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,991},{38,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,27}</string>
			</dict>
			<key>Tower/Hero_ice/Hero_ice_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,671},{73,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,69}</string>
			</dict>
			<key>Tower/Hero_speed/Hero_speed_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,524},{54,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,32}</string>
			</dict>
			<key>Tower/Hero_speed/Hero_speed_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,991},{41,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,32}</string>
			</dict>
			<key>Tower/Hero_speed/Hero_speed_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,540},{38,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,40}</string>
			</dict>
			<key>Tower/Hero_speed/Hero_speed_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,991},{38,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,32}</string>
			</dict>
			<key>Tower/Hero_speed/Hero_speed_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,566},{40,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,28}</string>
			</dict>
			<key>Tower/Hero_speed/Hero_speed_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,980},{47,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,38}</string>
			</dict>
			<key>Tower/Hero_speed/Hero_speed_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,591},{80,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,68}</string>
			</dict>
			<key>ui/atkSpeed.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,547},{114,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,124}</string>
			</dict>
			<key>ui/atkSpeed_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,560},{114,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,124}</string>
			</dict>
			<key>ui/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{720,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{720,315}</string>
			</dict>
			<key>ui/btn_fast.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,160},{85,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,72}</string>
			</dict>
			<key>ui/btn_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,909},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ui/btn_shuffle.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,0},{83,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,84}</string>
			</dict>
			<key>ui/btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,902},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>ui/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,991},{33,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,34}</string>
			</dict>
			<key>ui/dead.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,661},{114,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,124}</string>
			</dict>
			<key>ui/dead_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,674},{114,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,124}</string>
			</dict>
			<key>ui/enemy_brand.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,463},{83,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,69}</string>
			</dict>
			<key>ui/fire.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,681},{114,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,124}</string>
			</dict>
			<key>ui/fire_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,689},{114,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,124}</string>
			</dict>
			<key>ui/ice.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,795},{114,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,124}</string>
			</dict>
			<key>ui/ice_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,877},{114,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,124}</string>
			</dict>
			<key>ui/lightning.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,775},{114,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,124}</string>
			</dict>
			<key>ui/lightning_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,788},{114,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,124}</string>
			</dict>
			<key>ui/poison.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,889},{114,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,124}</string>
			</dict>
			<key>ui/poison_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,813},{114,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,124}</string>
			</dict>
			<key>ui/random_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,209},{91,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,27}</string>
			</dict>
			<key>House/house_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,209},{227,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,178}</string>
			</dict>
			<key>House/house_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{209,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,210}</string>
			</dict>
			<key>House/house_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,315},{168,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,186}</string>
			</dict>
			<key>House/house_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,315},{177,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,160}</string>
			</dict>
			<key>House/house_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,315},{108,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,142}</string>
			</dict>
			<key>House/house_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,444},{103,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,141}</string>
			</dict>
			<key>House/house_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,809},{57,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>EnemyAndTowePlist.png</string>
			<key>realTextureFileName</key>
			<string>EnemyAndTowePlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>