<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Enemy_1/gt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,0},{135,89}}</string>
				<key>offset</key>
				<string>{-4,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,220}</string>
			</dict>
			<key>Enemy_1/gt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,821},{107,157}}</string>
				<key>offset</key>
				<string>{6,-31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,220}</string>
			</dict>
			<key>Enemy_1/gt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,825},{119,157}}</string>
				<key>offset</key>
				<string>{25,20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,220}</string>
			</dict>
			<key>Enemy_1/j001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,167},{310,169}}</string>
				<key>offset</key>
				<string>{-55,-104}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{334,167}}</string>
				<key>offset</key>
				<string>{-35,-102}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j003.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,0},{318,173}}</string>
				<key>offset</key>
				<string>{-34,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j004.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,0},{281,178}}</string>
				<key>offset</key>
				<string>{-21,-91}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,336},{221,173}}</string>
				<key>offset</key>
				<string>{-41,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j006.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,698},{145,183}}</string>
				<key>offset</key>
				<string>{-79,-83}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j007.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,572},{146,190}}</string>
				<key>offset</key>
				<string>{-78,-80}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,859},{137,173}}</string>
				<key>offset</key>
				<string>{-83,-88}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j009.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,762},{135,172}}</string>
				<key>offset</key>
				<string>{-81,-87}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j010.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,772},{132,175}}</string>
				<key>offset</key>
				<string>{-77,-87}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j011.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,523},{179,175}}</string>
				<key>offset</key>
				<string>{-47,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j012.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,525},{161,176}}</string>
				<key>offset</key>
				<string>{-90,-87}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,687},{172,176}}</string>
				<key>offset</key>
				<string>{-94,-87}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j014.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,637},{124,188}}</string>
				<key>offset</key>
				<string>{-70,-80}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j015.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,344},{137,228}}</string>
				<key>offset</key>
				<string>{-69,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j016.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,516},{121,237}}</string>
				<key>offset</key>
				<string>{-35,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j017.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,173},{171,252}}</string>
				<key>offset</key>
				<string>{0,55}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j018.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,178},{159,211}}</string>
				<key>offset</key>
				<string>{35,79}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j019.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,344},{179,184}}</string>
				<key>offset</key>
				<string>{54,70}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j020.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,178},{179,190}}</string>
				<key>offset</key>
				<string>{72,33}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j021.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,337},{179,187}}</string>
				<key>offset</key>
				<string>{82,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,509},{179,178}}</string>
				<key>offset</key>
				<string>{93,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j023.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,357},{179,168}}</string>
				<key>offset</key>
				<string>{92,-62}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j024.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,637},{178,135}}</string>
				<key>offset</key>
				<string>{95,-103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
			<key>Enemy_1/j025.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,686},{178,135}}</string>
				<key>offset</key>
				<string>{99,-103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,393}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Enemy_1.png</string>
			<key>realTextureFileName</key>
			<string>Enemy_1.png</string>
			<key>size</key>
			<string>{1022,996}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>996</integer>
		</dict>
	</dict>
</plist>