<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,152}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{105,152}}</string>
                <key>sourceSize</key>
                <string>{145,162}</string>
            </dict>
            <key>run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{135,136}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{135,136}}</string>
                <key>sourceSize</key>
                <string>{145,162}</string>
            </dict>
            <key>run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{125,148}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{125,148}}</string>
                <key>sourceSize</key>
                <string>{145,162}</string>
            </dict>
            <key>run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{101,150}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{101,150}}</string>
                <key>sourceSize</key>
                <string>{145,162}</string>
            </dict>
            <key>run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,156},{87,150}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,8},{87,150}}</string>
                <key>sourceSize</key>
                <string>{145,162}</string>
            </dict>
            <key>run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,308},{113,148}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{113,148}}</string>
                <key>sourceSize</key>
                <string>{145,162}</string>
            </dict>
            <key>run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,152},{137,144}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{137,144}}</string>
                <key>sourceSize</key>
                <string>{145,162}</string>
            </dict>
            <key>run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{107,142}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{107,142}}</string>
                <key>sourceSize</key>
                <string>{145,162}</string>
            </dict>
            <key>run9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{81,152}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,10},{81,152}}</string>
                <key>sourceSize</key>
                <string>{145,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:083d728569a96ead9a39bd6b3d4e3187$</string>
            <key>textureFileName</key>
            <string>run.png</string>
        </dict>
    </dict>
</plist>
